%li.inbox__item
  .item
    .item__image
      - #Image goes here
    .item__description= item.description
  %ul.sender_list
    - get_senders_from_item_messages(messages).each do |sender, messages|
      = render('sender', {sender: sender, messages: messages})
