%li.inbox__item
  .item
    .item__image
      - #Image goes here
    .item__description= item.description
  %ul.message_list
    - begin
      = render 'message', message: messages[index]
      - index += 1
    - end while messages[index] && messages[index].item_id == current_item_id
