%li.message_list__message
  .message
    .message__sender
      = message.sender.email
    .message__text
      = message.text
    .message__controls
      = link_to t(:view_message), dashboard_message_path(message)