#uses_table
  %table
    %thead
      %tr
        %th='Email'
        %th='Last sign in date'
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.last_sign_in_at
          %td= link_to 'Become user', admin_url(user), method: :put if current_user.has_role? :admin
