// Colors
$base-color: #000;
$opaque: #444;
$neutral: #666;
$pale: #999;
$bare: #ddd;
$firm: #1dd681;
$bright: #e4c917;
$sharp: #252525;
$contrast: #fff;
$positive: #1dd681;
$bright: #dfb301;
$negative: #c00;

// Typography
$base-font: Arial, Helvetica, sans-serif;
$firm-font: Georgia, serif;
$h1: 24px;
$h2: 20px;
$base-font-size: 14px;

// Spaces
$space-x: 3px;
$space-s: 5px;
$space-m: 10px;
$space-l: 20px;