- for item in @items
  .item
    .description=item.description
    .tags=item.tags_s
    .contact_info=item.contact_info
    .controls
      = link_to t(:delete), dashboard_item_path(item), method: :delete
