# This is just a template.
# Copy (not move) to database.yml

common: &common
  adapter:  postgresql
  username: postgres
  password:
  encoding: unicode

development:
  <<: *common
  database: board_development

test:
  <<: *common
  database: board_test

production:
  <<: *common
  database: board_production
