= render 'all'

#selected_tags
  - for tag in @selected_tags
    .tag
      = tag.name

#tagged_items
  - for item in @tagged_items
    .item
      - if (photo_url = get_main_photo_url(item))
        = image_tag photo_url, alt: nil
      .description
        = item.description