.item
  .description=@item.description
  .state= @item.state
  .tags=k(@item).tags
  .contact_info=@item.contact_info
  %span= link_to t(:write_message), new_item_message_path(@item)
  .photos
    - @item.photos.each do |photo|
      = render partial: 'photo', locals: {photo: photo}
